<?xml version="1.0"?>
<launch>
  <arg name="version" default="pallet_truck_std.urdf.xacro" />
  <arg name="prefix" default="pallet_truck_"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find pallet_truck_description)/robots/$(arg version)' prefix:=$(arg prefix)" />

  <!-- publish tfs through the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>

