<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="front_case_mass" value="10" />

	<xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:macro name="solid_cuboid_inertia" params="m h d w">
    <inertia  ixx="${(m*(h*h+d*d))/12}" ixy = "0" ixz = "0"
              iyy="${(m*(w*w+d*d))/12}" iyz = "0"
              izz="${(m*(w*w+h*h))/12}"
     />
  </xacro:macro>

	<xacro:property name="front_case_size_x" value="0.5"/>
	<xacro:property name="front_case_size_y" value="0.5"/>
	<xacro:property name="front_case_size_z" value="0.5"/>

  <xacro:macro name="front_case" params="prefix parent *origin">

    <joint name="${prefix}front_case_joint" type="fixed">
       <xacro:insert_block name="origin" />
       <parent link="${parent}"/>
       <child link="${prefix}front_case_link" />
     </joint>

     <link name="${prefix}front_case_link">
       <inertial>
         <mass value="${front_case_mass}" />
         <origin xyz="0.226093 0.0 -0.31"/>
				 <solid_cuboid_inertia m="${front_case_mass}" h="${front_case_size_y}" d="${front_case_size_z}" w="${front_case_size_x}"/>
       </inertial>
       <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
           <mesh filename="package://pallet_truck_description/meshes/bases/front_case.stl"/>
         </geometry>
       </visual>
       <collision>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
           <mesh filename="package://pallet_truck_description/meshes/bases/front_case.stl"/>
         </geometry>
       </collision>
     </link>




		 <!--PROJECTOR -->

		 <joint name="${prefix}projector_joint" type="fixed">
				 <origin xyz="1 1 1" rpy="0 0 0"/>
				 <parent link="${prefix}front_case_link"/>
				 <child link="head"/>
		</joint>

		<link name="head">
		    <visual>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <geometry>
							<box size="0.1 0.1 0.1"/>
		        </geometry>
		    </visual>

		    <collision>
		      <origin xyz="0 0 0" rpy="0 0 0" />
		      <geometry>
						<box size="0.1 0.1 0.1"/>
		      </geometry>
		    </collision>

		    <inertial>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <mass value="1" />
		        <inertia
		          ixx="1.0" ixy="0.0" ixz="0.0"
		          iyy="1.0" iyz="0.0"
		          izz="1.0" />
		    </inertial>

		</link>

		<!-- this one doesn't work correctly because it is attached to a fixed link -->
		<gazebo reference="head">
		  <projector name="projector_test_head">
		    <!-- none of the translations or rotations applied here have any effect -->
		    <pose>0 0 0 1.57 0 0</pose>
		    <texture>red.png</texture>
		    <fov>0.95</fov>
		    <near_clip>0.1</near_clip>
		    <far_clip>10.0</far_clip>
				<!--texture>stereo_projection_pattern_high_res_red.png</texture-->
		  </projector>
		</gazebo>

		<!-- try putting a projector onto another link -->
		<joint name="joint_projector_test_1" type="revolute">
		  <parent link="head" />
		  <child link="link_projector_test_1" />
		  <origin xyz="0 0.23 0" rpy="0 0 0" />
		  <axis xyz="0 1 0" />
		  <limit effort="1000.0" upper="0.0001" lower="-0.0001" velocity="0.5" />
		</joint>
		<!-- this works fine because it is attached to a revolute jointed link-->
		<link name="link_projector_test_1">
		    <visual>
		      <origin xyz="0 0 0" rpy="0 0 0" />
		      <geometry>
		        <box size="0.05 0.05 0.05"/>
		      </geometry>
		    </visual>

		    <collision>
		      <origin xyz="0 0 0" rpy="0 0 0" />
		      <geometry>
		        <box size="0.05 0.05 0.05"/>
		      </geometry>
		    </collision>

		    <inertial>
		        <origin xyz="0 0 0" rpy="0 0 0" />
		        <mass value="1" />
		        <inertia
		          ixx="1.0" ixy="0.0" ixz="0.0"
		          iyy="1.0" iyz="0.0"
		          izz="1.0" />
		    </inertial>
		</link>

		<gazebo reference="link_projector_test_1">
		  <projector name="projector_test_1">
		    <!-- setting the pose will produce glitches even when attached to a revolute joint -->
		    <pose>0 0 0 0 1.57 0</pose>
		    <texture>red.png</texture>
		    <!--texture>stereo_projection_pattern_high_res_red.png</texture-->
		    <fov>0.95</fov>
		    <near_clip>0.1</near_clip>
		    <far_clip>10.0</far_clip>
		  </projector>
		</gazebo>

		 <!--PROJECTOR no funciona-->

		 <!--joint name="${prefix}projector_joint" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${prefix}front_case_link"/>
        <child link="${prefix}projector_link"/>
				<limit effort="0.01" velocity="0.01" upper="0.0001" lower="-0.0001"/>
      </joint>

			<link name="${prefix}projector_link">
			</link>

		 <gazebo reference="${prefix}projector_link">
			 <projector name="projector">
				 <pose>0 0 0 0 0 0</pose>
         <texture>red.png</texture>
         <fov>0.95</fov>
         <near_clip>0.1</near_clip>
         <far_clip>10</far_clip>
     	 </projector>
		 </gazebo>
		 <gazebo>
     		<plugin name="projector" filename="libgazebo_ros_projector.so">
         	<projector>${prefix}projector_link/projector</projector>
         	<alwaysOn>true</alwaysOn>
         	<updateRate>10.0</updateRate>
					<textureName>red.png</textureName>
					<filterTextureName>red.png</filterTextureName>
         	<textureTopicName>/projector/image</textureTopicName>
         	<projectorTopicName>/projector/projector</projectorTopicName>
     		</plugin>
			</gazebo-->




<!-- LEDS -->
		 <!--gazebo>
		   <model name='light_model'>
		     <pose>1.5207 0 0.68 0 0 0</pose>
		     <link name='light_link'>
		       <visual name='light_source'>
		         <pose>0 0 0 0 0 0</pose>
		         <geometry>
		           <box>
		             <size>0.35 0.568 0.01</size>
		           </box>
		         </geometry>
		         <material>
		           <ambient>1 1 1 1</ambient>
		           <diffuse>1 1 1 1</diffuse>
		           <specular>1 1 1 1</specular>
		           <emissive>0 0 0 1</emissive>
		         </material>
		       </visual>
		       <light name='light_source' type='spot'>
		         <pose>0 0.35 0 0 0 0</pose>
		         <attenuation>
		           <range>20</range>
		           <!- -linear>0.10</linear- ->
		         </attenuation>
		         <diffuse>0 0 0 1</diffuse>
		         <specular>0 0 0 1</specular>
						 <spot>
							 <inner_angle>0.1</inner_angle>
							 <outer_angle>0.15</outer_angle>
							 <falloff>1</falloff>
						 </spot>
		       </light>
					 <light name='light_source2' type='spot'>
		         <pose>0 -0.35 0 0 0 0</pose>
		         <attenuation>
		           <range>20</range>
		           <!- -linear>0.10</linear- ->
		         </attenuation>
		         <diffuse>0 0 0 1</diffuse>
		         <specular>0 0 0 1</specular>
						 <spot>
							 <inner_angle>0.1</inner_angle>
							 <outer_angle>0.15</outer_angle>
							 <falloff>1</falloff>
						 </spot>
		       </light>
		     </link>
		     <plugin name='light_control' filename='libLedPlugin.so'>
		 			<enable>true</enable>
		       <light>
		         <id>light_link/light_source</id>
						 <block>
							 <enable>true</enable>
						 	 <duration>1</duration>
						 	 <interval>0</interval>
						 	 <color>1 0 0</color>
						 	 <attenuation>
						 	 		<range>20</range>
						 	 		<linear>0.10</linear>
						 	 </attenuation>
						 </block>
						 <block>
						 	 <duration>1</duration>
						 	 <interval>0</interval>
						   <color>1 0 0</color>
						 	 <attenuation>
						 			 <range>20</range>
						 			 <linear>0.10</linear>
						 	 </attenuation>
						  </block>
					 </light>
					 <light>
						 <id>light_link/light_source2</id>
						 <block>
							 <enable>true</enable>
							 <duration>1</duration>
							 <interval>0</interval>
							 <color>1 0 0</color>
							 <attenuation>
									<range>20</range>
									<linear>0.10</linear>
							 </attenuation>
						 </block>
						 <block>
							 <duration>1</duration>
							 <interval>0</interval>
							 <color>1 0 0</color>
							 <attenuation>
									 <range>20</range>
									 <linear>0.10</linear>
							 </attenuation>
							</block>
					 </light>
		     </plugin>
		   </model>
		 </gazebo>

		   <gazebo>
		     <joint name='light_joint' type='fixed'>
		       <parent>${prefix}front_case_link</parent>
		       <child>light_model::light_link</child>
		     </joint>
		   </gazebo-->

  </xacro:macro>
</robot>
