<?xml version="1.0"?>
<launch>

  <!-- Arguments -->
  <arg name="spawn_robot" value="true"/>
  <arg name="spawn_simulation" value="true"/>
  <arg name="run_rviz" default="true"/>

  <!-- launch robot -->
  <include if="$(arg spawn_robot)" file="$(find pallet_truck_gazebo)/launch/spawn_robot.launch">
  </include>

  <!-- launch simulation -->
  <include if="$(arg spawn_simulation)" file="$(find pallet_truck_gazebo)/launch/spawn_simulation.launch">
  </include>

  <!-- launch rviz -->
  <include if="$(arg run_rviz)" file="$(find pallet_truck_gazebo)/launch/run_rviz.launch">
  </include>

</launch>
