<?xml version="1.0"?>
<robot name="pallet_truck" xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import HR-RECYCLER base elements -->
  <xacro:include filename="$(find pallet_truck_description)/urdf/bases/pallet_truck.urdf.xacro" />

	<!-- Import HR-RECYCLER wheels -->
	<xacro:include filename="$(find pallet_truck_description)/urdf/wheels/motor_wheel.urdf.xacro" />

  <!-- Import HR-RECYCLER additional wheels -->
  <xacro:include filename="$(find pallet_truck_description)/urdf/wheels/additional_wheel.urdf.xacro" />

  <!-- Import HR-RECYCLER elevator -->
  <xacro:include filename="$(find pallet_truck_description)/urdf/elevator/elevator.urdf.xacro" />

	<!-- Import sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

  <!-- Import Gazebo Stuff -->
  <xacro:include filename="$(find pallet_truck_description)/urdf/common.gazebo.xacro" />

	<!-- Global parameters -->
	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
  <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_x" value="0.0"/>
	<xacro:property name="wheel_offset_y" value="0.0"/>
	<xacro:property name="wheel_offset_z" value="0.0"/>


	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!--  FORK CAMERAS  -->
  <xacro:property name="fork_camera_x" value="1.525" />
  <xacro:property name="fork_camera_y" value="0.195" />
  <xacro:property name="fork_camera_z" value="0.0825" />

   <!-- FRONT LASER -->
 <xacro:property name="front_laser_x" value="-0.2529" />
 <xacro:property name="front_laser_y" value="0.000" />
 <xacro:property name="front_laser_z" value="0.200" />
	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->
	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

	<xacro:arg name="prefix" default="pallet_truck_"/>
  <xacro:property name="prefix" value="$(arg prefix)" />

	<xacro:pallet_truck prefix="${prefix}" publish_bf="true" hq="${hq}" /> <!-- BASE -->

	<xacro:motor_wheel prefix="${prefix}front_" parent="${prefix}base_link" hq="${hq}"> <!-- WHEEL -->
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:motor_wheel>

  <!--xacro:additional_wheel prefix="${prefix}front_left" parent="${prefix}base_link" hq="${hq}">
			<origin xyz="-0.3 0.3 -0.4235" rpy="0 0 0"/>
	</xacro:additional_wheel>

  <xacro:additional_wheel prefix="${prefix}front_right" parent="${prefix}base_link" hq="${hq}">
      <origin xyz="-0.3 -0.3 -0.4235" rpy="0 0 0"/>
  </xacro:additional_wheel-->

  <xacro:elevator prefix="${prefix}" parent="${prefix}base_link" hq="${hq}"> <!-- ELEVATOR -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:elevator>

  <!--xacro:sensor_sick_s300 prefix="${prefix}front_laser" parent="${prefix}base_footprint"> <!- - FRONT LIDAR - ->
      <origin xyz="${front_laser_x} ${front_laser_y} ${front_laser_z}" rpy="${PI} 0 ${PI}"/>
  </xacro:sensor_sick_s300>

  <xacro:sensor_r430 prefix="${prefix}right_fork" parent="${prefix}elevator_link" prefix_topic="right_fork_rgbd_camera">
      <origin xyz="${fork_camera_x} ${fork_camera_y} ${fork_camera_z}" rpy="0 0 ${PI}"/>
  </xacro:sensor_r430>

  <xacro:sensor_r430 prefix="${prefix}left_fork" parent="${prefix}elevator_link" prefix_topic="left_fork_rgbd_camera">
      <origin xyz="${fork_camera_x} -${fork_camera_y} ${fork_camera_z}" rpy="0 0 ${PI}"/>
  </xacro:sensor_r430-->

	<!-- Gazebo ros control pluggins -->
	<xacro:ros_control/>


</robot>
