<?xml version="1.0"?>
<launch>

  <arg name="version" default="hr_recycler_std.urdf.xacro" />
  <arg name="prefix" default="hr_recycler_"/>

  <!-- run state -->
  <include file="$(find hr_recycler_description)/launch/hr_recycler_state.launch" >
    <arg name="version" value="$(arg version)" />
    <arg name="prefix" value="$(arg prefix)" />
  </include>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
