<?xml version="1.0"?>
<launch>

  <!-- Robot -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS diff)"/>
  <arg name="localization_system" default="amcl" />

  <!-- What localization config package to use -->
  <arg name="localization_package" default="$(optenv LOCALIZATION_PACKAGE pallet_truck_localization)"/>
  <arg name="config_folder" default="$(eval find(localization_package) + '/launch')" />

  <!-- Files -->
  <arg name="localization_system_file" default="$(eval config_folder + '/' + localization_system + '.launch')"/>
  <arg name="map_server_file" default="$(eval config_folder + '/map_server.launch')"/>

  <!-- Robot initial position -->
  <arg name="x_init_pose" default="0"/>
  <arg name="y_init_pose" default="0"/>
  <arg name="z_init_pose" default="0"/>

  <group ns="$(arg robot_id)">

    <include file="$(arg localization_system_file)"/>

    <include file="$(arg map_server_file)"/>

  </group>
</launch>
