<?xml version="1.0"?>
<launch>

  <!-- Robot -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS diff)"/>

  <!-- What localization config package to use -->
  <arg name="localization_package" default="$(optenv LOCALIZATION_PACKAGE rb_ares_localization)"/>
  <arg name="config_folder" default="$(eval find(localization_package) + '/config')" />

  <!-- Files -->
  <arg name="amcl_params" default="amcl.yaml"/>
  <arg name="amcl_file" default="$(eval config_folder + '/' + amcl_params)"/>

  <!-- Robot initial position -->
  <arg name="x_init_pose" default="0"/>
  <arg name="y_init_pose" default="0"/>
  <arg name="z_init_pose" default="0"/>

  <!-- Amcl topics -->
  <arg name="scan_topic" default="$(optenv ROBOT_LOCALIZATION_SCAN_TOPIC front_laser/scan)"/>
  <arg name="map_topic" default="map"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!-- Amcl params -->
    <rosparam file="$(arg amcl_file)" command="load" subst_value="true"/>

    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="map" to="$(arg map_topic)"/>
  </node>

</launch>
