<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>
  <arg name="robot_model" default="$(optenv ROBOT_MODEL rb_ares)"/>
  <arg name="robot_xacro" default="$(optenv ROBOT_XACRO rb_ares_std.urdf.xacro)"/>
  <arg name="use_gpu_for_simulation" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find rb_ares_description)/robots/$(arg robot_xacro)' robot_id:=$(arg robot_id) prefix:=$(arg prefix) use_gpu_for_simulation:=$(arg use_gpu_for_simulation) --inorder" />

  <!-- publish tfs through the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <remap from="/joint_states" to="joint_states" />
  </node>

</launch>
