<?xml version="1.0"?>
<launch>
  <arg name="id_robot" default="pallet_truck"/>
  <arg name="prefix" value="$(arg id_robot)_"/>

  <arg name="differential_robot" default="true"/>

  <!-- Docker frames -->
  <arg name="overwrite_frames" default="false" />
  <arg name="fixed_frame" default="$(arg prefix)odom"/>
  <arg name="robot_base_frame" default="$(arg prefix)base_footprint"/>

  <!-- Dockers -->
  <node name="diff_docker" pkg="robotnik_docker" type="diff_docker_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find pallet_truck_navigation)/config/dockers/diff_docker.yaml" subst_value="true"/>

    <param if="$(arg overwrite_frames)" name="robot_base_frame" type="string" value="$(arg base_frame)" />
    <param if="$(arg overwrite_frames)" name="fixed_frame" type="string" value="$(arg odom_frame)" />

    <remap from="cmd_vel" to="docker/cmd_vel"/>
  </node>

</launch>
