<?xml version="1.0"?>
<launch>

  <!-- Robot -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>

  <!-- Robot configuration -->
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS diff)"/>
  <arg name="has_safety_controller" default="$(optenv HAS_SAFETY_CONTROLLER false)"/>

  <!-- What navigation config package to use -->
  <arg name="navigation_package" default="$(optenv NAVIGATION_PACKAGE pallet_truck_navigation)"/>
  
  <!-- MoveBase arguments -->
  <arg name="has_move_base" default="$(optenv ROBOT_HAS_MOVE_BASE true)"/>

  <!-- Dockers arguments -->
  <arg name="has_docker" default="$(optenv ROBOT_HAS_DOCKER true)"/>
  <arg name="run_camera_docker" default="$(optenv ROBOT_DOCKER_RUN_CAMERA false)"/>
  <arg name="run_laser_docker" default="$(optenv ROBOT_DOCKER_RUN_LASER false)"/>
  <arg name="run_laser_filters" default="$(optenv ROBOT_RUN_LASER_FILTERS true)"/>

  <!-- Files -->
  <arg name="move_base_file" default="$(eval find(navigation_package) + '/launch/move_base.launch')"/>
  <arg name="docker_file" default="$(eval find(navigation_package) + '/launch/dockers.launch')"/>
  <arg name="move_file" default="$(eval find(navigation_package) + '/launch/move.launch')"/>
  <arg name="scan_filter_file" default="$(eval find(navigation_package) + '/launch/scan_filter.launch')"/>
  <arg name="rgbd_to_laserscan_file" default="$(eval find(navigation_package) + '/launch/rgbd_to_laserscan.launch')"/>
  <arg name="publish_tf_file" default="$(eval find(navigation_package) + 'launch/tf_publishers.launch')"/>

  <!-- Move arguments -->
  <arg name="has_move" default="$(optenv ROBOT_HAS_MOVE true)"/>

  <!-- Frames -->
  <arg name="publish_tf" default="false" />

  <!-- Camera frames -->
  <arg name="camera_dock_frame" default="$(arg prefix)docking_station_marker"/>
  <arg name="camera_contact_dock_frame" default="$(arg prefix)docking_station_marker_contact"/>
  <arg name="camera_contact_dock_frame_for_base" default="$(arg prefix)docking_station_marker_for_base_frame"/>

  <!-- Laser frames -->
  <arg name="laser_dock_frame" default="$(arg prefix)docking_station_laser_filtered"/>
  <arg name="laser_contact_dock_frame" default="$(arg prefix)docking_station_laser_contact"/>
  <arg name="laser_contact_dock_frame_for_base" default="$(arg prefix)docking_station_laser_for_base_frame"/>

  <!-- Overwrite frames, should not be used unless reasonable exception -->
  <arg name="overwrite_frames" default="false" />
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="odom_frame_param_name" default="fixed_frame" />
  <arg name="base_frame_param_name" default="robot_base_frame" />

  <group ns="$(arg robot_id)">

    <include if="$(arg has_move_base)" file="$(arg move_base_file)">
      <arg name="has_safety_controller" value="$(arg has_safety_controller)"/>
    </include>

    <include if="$(arg has_docker)" file="$(arg docker_file)">
      <arg name="has_safety_controller" value="$(arg has_safety_controller)"/>
    </include>

    <include if="$(arg has_move)" file="$(arg move_file)">
      <arg name="has_safety_controller" value="$(arg has_safety_controller)"/>
    </include>

    <include if="$(arg run_laser_filters)" file="$(arg scan_filter_file)">
      <arg name="laser_scan" value="front_laser"/>
    </include>

    <include if="$(arg run_laser_filters)" file="$(arg scan_filter_file)">
      <arg name="laser_scan" value="rear_laser"/>
    </include>

    <include if="$(arg run_camera_docker)" file="$(arg rgbd_to_laserscan_file)">
      <arg name="camera" value="front_rgbd_camera" />
    </include>

    <!-- Static transforms -->
    <include if="$(arg publish_tf)" file="$(arg publish_tf_file)" />

  </group>

</launch>
