<?xml version="1.0"?>
<robot name="rb_ares" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find rb_ares_description)/urdf/inertia.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

  <xacro:property name="base_link_origin" value="0 0 0.040" /> <!--base_link (0,0,fork_wheel_radius) RF-> Base_Footprint. Align with the centers of fork_wheels.-->


  <xacro:macro name="rb_ares" params="prefix publish_bf">

  <!-- BASE FOOTPRINT -->
  <link name="${prefix}base_footprint">
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="${prefix}base_footprint_joint" type="fixed">
    <origin xyz="${base_link_origin}" rpy="0 0 0" />
    <parent link="${prefix}base_footprint"/>
    <child link="${prefix}base_link" />
  </joint>

  <!-- BASE LINK -->
  <link name="${prefix}base_link">
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  </xacro:macro>
</robot>
