<?xml version="1.0"?>
<launch>

	<!-- roslaunch arguments --> 
	<arg name="debug" default="false"/>
	<arg name="launch_rviz" default="false"/>
	<arg name="world" default="$(find pallet_truck_gazebo)/worlds/pallet_truck.world"/> <!-- located in pallet_truck_gazebo/worlds -->
	<arg name="rviz_config_file" default="$(find pallet_truck_gazebo)/rviz/pallet_truck_a.rviz"/>	

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="gui" value="true"/>
	</include>
	
	<!-- launch rviz -->
	<node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config_file)"/>

	
	
</launch>
