<?xml version="1.0"?>
<launch>
  <!-- Run simulation environment and spawn model into it. This file maybe splitted further in both actions-->

  <!-- arg to config the launch file-->
  <arg name="id_robot" default="$(optenv ROBOT_ID pallet_truck)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="robot_model" default="$(optenv ROBOT_MODEL pallet_truck)"/>
  <arg name="xacro_robot" default="$(optenv ROBOT_XACRO pallet_truck_std.urdf.xacro)"/>

  <!-- Robot configuration -->
  <arg name="run_robot" default="true" /> <!-- just in case we want to run the simulation environment only -->
  <arg name="x_init_pose" default="0"/>
  <arg name="y_init_pose" default="0"/>
  <arg name="z_init_pose" default="0"/>

  <!-- Gazebo arguments -->
  <arg name="run_simulation_environment" default="true" /> <!-- may set to false if simulation environment is already running -->
  <arg name="world" default="$(find pallet_truck_gazebo)/worlds/pallet_truck_epal.world"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="gui" default="true"/>

  <!-- Launch gazebo -->
  <include if="$(arg run_simulation_environment)" file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="headless" value="$(arg headless)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Spawn model into gazebo -->
  <node if="$(arg run_robot)" ns="$(arg id_robot)" name="urdf_spawner_robot_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
      args="-x $(arg x_init_pose) -y $(arg y_init_pose) -z $(arg z_init_pose) -urdf -param robot_description -model $(arg id_robot)" />

</launch>
